<h1>
	Current Patch
</h1>
<h2>
	1.0.0
</h2>
<p>Attempting to return back to old site's status</p>
<strong>To Do List</strong>
<ul>
	<li>Layout for users that are signed in</li>
	<li>Updates page</li>
	<li>User Statistics page</li>
	<li>User Account Settings</li>
	<li>Clan Information</li>
	<li>TSF Aradel</li>
	<li>Eon Table</li>
	<li>Change Roster</li>
	<li>Capture Rings</li>
	<li>Private Messaging System</li>
	<li>Eon Storage</li>
	<li>Item Crafting</li>
	<li>Trade System</li>
	<li>Crates</li>
	<li>Item Store</li>
	<li>Promotion Center</li>
	<li>Challenge another user</li>
	<li>Battle NPC's</li>
	<li>Battle System</li>
	<li>Gem System + Ranking</li>
	<li>Eon Rankings</li>
	<li>Buff Holders</li>
	<li>TS Rankings</li>
	<li>Forums</li>
	<li>Rules/FAQ</li>
	<li>Maps</li>
	<li>View other people's profile</li>
</ul>
<br>
<br>
<br>

<strong>Completed</strong>
<ul>
	<li>Layout for users that are not signed in</li>
	<li>Register/Sign up</li>
	<li>Sign In/Sign out</li>
</ul>

<strong>Links to Bugs & Issues fixed</strong>
<br>
<%= git_issue(2) %>
<%= git_issue(3) %>	
<%= git_issue(4) %>
<%= git_issue(5) %>