<h1>Previous Patches</h1>
<h2>0.45</h2>
<p>Huge update. See left for list</p>
<h2>0.4</h2>
<p>You can battle, catch eons, use items</p>
<h2>0.3</h2>
<p>There is a layout</p>
<h2>0.2</h2>
<p>You can log in</p>
<h2>0.1</h2>
<p>Original site created</p>