<% provide(:title, 'About Us') %>
<div class="jumbotron text-center">
	<h1>About Us</h1>
	<p>
		Originally, Vion Genesis was made as an on and off project from 2009-2012 in PHP and MySQL. <br>
		Recently, the creators have decided to attempt to remake it as a Ruby on Rails application.
	</p>	


</div>