<% provide(:title, 'Contact') %>
<div class="jumbotron text-center">
	<h1>Contact</h1>

	<p>
		Testing layouts on this page
	</p>
</div>

<div class="row">
	<div class="col-xs-3">
		<div class="jumbotron">test3 columns wide</div>
	</div>
	<div class="col-xs-6">
		<div class="jumbotron">6 columns wide</div>
	</div>
	<div class="col-xs-3">
		<div class="jumbotron">3 columns wide</div>
	</div>
</div>
