<% provide(:title, 'Contact') %>
<div class="mainArea text-center">
	<h1>Contact</h1>

	<p>
		Testing layouts on this page
	</p>
	<% yo = ["hi","bye","lol"] %>
	<%= form_tag do %>
		<%= select_tag(:lalala, options_for_select(yo)) %>
	<% end %>
</div>
