<% provide(:title, 'Help') %>

<div class="jumbotron text-center">
	<h1>Help</h1>
	<p>
		Sorry, there are no frequently asked questions at the moment. <br>
		Please check again at a later time.
	</p>
</div>