<% provide(:title, 'Help') %>

<div class="mainArea text-center jumboBorder">
	<h1>Help</h1>
	<p>
		Sorry, there are no frequently asked questions at the moment. <br>
		Please check again at a later time.
	</p>

	<h2>API Test</h2>
	<%= @loreData %>
</div>