<h1>Maps</h1>
<div class="container-fluid">
	<% @maps.each do |map| %>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<%= link_to map_picture_for(map.id), map %>
			<br>
			<%= link_to map.map_name, map %>
			<br>
			<br>
		</div>
	<% end %>
</div>
