<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">
	<% if @user.champions.any? %>
	<h3><%= @user.champions.count %> Champions</h3>
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Champion Name</th>
			<th>Level</th>
			<th>Position</th>
			<th>Active Skin</th>
		</tr>
		<%= render @champions %>
	</table>
	<% end %>
</div>