<tr class = "dark-hover">
	<td><%= table_champion.id %></td>
	<td><%= link_to(table_champion.name, champion_stat_path(table_champion.id)) %></td>
	<td><%= table_champion.f_role %></td>
	<td><%= table_champion.s_role %></td>
</tr>