<% provide(:title, 'Champions List') %>
<h1>List of Champions</h1>

<table class="table table-hover table-condensed">
	<tr class = "dark-hover">
		<th>ID</th>
		<th>Name</th>
		<th>Key</th>
		<th>Health</th>
		<th>Attack Damage</th>
		<th>Armor</th>
		<th>Magic Resist</th>
		<th>Role 1</th>
		<th>Role 2</th>
	</tr>
	<%= render @table_champions %>
</table>