<% provide(:title, @role.name) %>
<h2>Champions with <%= @role.name %> as their primary role</h2>
<ul>
	<% @primary.each do |champ| %>
		<li><%= link_to(champ.name, champion_stat_path(champ.id)) %></li>
	<% end %>
</ul>

<h2>Champions with <%= @role.name %> as their secondary role</h2>
<ul>
	<% @secondary.each do |champ| %>
		<li><%= link_to(champ.name, champion_stat_path(champ.id)) %></li>
	<% end %>
</ul>