// Place all the styles related to the Champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.roster-table {
	width: 100%;
	border: 1px solid black;
}

.roster {
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#champ_name {
	text-align: center;
}

.champion_face {
	width: 100%;
}

.champion_battle {
	width: 100%;
}

.champion_banner {
	width: 100%;
}

.champion_profile_picture {
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	min-width: 120px;
}

.champion_banner_picture {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 240px;
}

.champ_stats {
	padding-left: 1em;
}

.roster-picker {
	color: black;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
