<tr class = "dark-hover">
	<!-- Change this to the champion name once the association is made -->
	<td><%= champion.table_champion_id %></td> 
	<td><%= champion.level %></td>
	<td><%= champion.position %></td>
	<td><%= champion.active_skin %></td>
</tr>