<tr class = "dark-hover">
	<!-- Change this to the champion name once the association is made -->
	<td><%= link_to(champion.table_champion.name, champion) %></td> 
	<td><%= champion.level %></td>
</tr>