<% provide(:title, "Bench") %>
<h1>Bench</h1>

<div class="row">
	<% if @bench.any? %>
	<h3><%= @bench.count %> Champions</h3>
	<table class="table table-hover table-condensed">
		<tr class = "dark-hover">
			<th>Champion Name</th>
			<th>Level</th>
		</tr>
		<% @bench.each do |champ| %>
			<tr class ="dark-hover">
				<td><%= champ.table_champion.champ_name %></td>
				<td><%= champ.level %></td>
			</tr>
		<% end %>
	</table>
	<% end %>
</div>